<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/yasinilkalp/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="yasinilkalp" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>